
#modal2(uk-modal='')
    .uk-modal-dialog.uk-modal-body
        button.uk-button.uk-button-default.uk-modal-close(type='button')
            img(src='static/svg/close-btn.svg')
        h2 Отправка резюме
        form
            input(type='text' placeholder='Ваше Имя')
            input(type='text' placeholder='Ваша Фамилия')
            input(type='text' placeholder='Ваше Отчество')
            select
                option Выбор специальности
                option Выбор специальности
                option Выбор специальности
                option Выбор специальности
            textarea(placeholder='Текст сообщения')
            label(for='file') Прикрепить файл
                input(type='file' id='file')
            button.main-btn.green Отправить
