
#modal(uk-modal='')
    .uk-modal-dialog.uk-modal-body
        button.uk-button.uk-button-default.uk-modal-close(type='button')
            img(src='static/svg/close-btn.svg')
        .uk-grid
            .uk-width-1-3
                img(src='static/svg/beer.svg')
            .uk-width-2-3
                h4 ТМ «Живое» -
                    br
                    | Живое Безалкогольное
                h6 Светлое, фильтрованное пиво, сделанное из натуральных
                    | компонентов: вода артезианская, солод светлый, немецкий хмель.
                ul
                    li Объем продукта:
                        span 0,5 л. Стекло, 1,0л.- ПЭТ.
                    li Срок годности:
                        span не менее 75 суток;
                    li Условия хранения:
                        span от 00С до 300С
                    li Начало производства:
                        span 2015 год
                    li Содержание спирта
                        span не более 0,5%
                p Рекомендуется употреблять охлажденным
                    br
                    | для получения максимального наслаждения.
        img.wave(src='static/svg/wave.svg')

