
footer {
	padding: 60px 0 80px
	@media (min-width: 960px) and (max-width: 1180px) {
		padding: 40px 0
	}
	@media (min-width: 641px) and (max-width: 960px) {
		padding: 40px 0
	}
	@media (max-width: 640px) {
		padding: 20px 0
	}
	h2 {
		text-align: center
		font-size: 32px
		font-weight: 700
		color: #5A5A5A
		padding-bottom: 50px
		@media (max-width: 960px) {
			padding-bottom: 20px
		}
	}
	.uk-width-1-3 {
		@media (max-width: 960px) {
			width: 100%
			text-align: center
			margin-bottom: 20px
		}
	}
	p {
		font-size: 18px
		line-height: 19px
		color: #5A5A5A
		text-align: left
		padding-left: 50px
		position: relative
		@media (min-width: 960px) and (max-width: 1180px)  {
			font-size: 16px
		}
		@media (max-width: 960px) {
			display: inline-block
		}
		@media (max-width: 480px) {
			font-size: 14px
			line-height: 15px
			padding-left: 30px
		}
		span {
			position: absolute
			top: 50%
			height: 34px
			margin-top: -17px
			width: 44px
			left: 0
			@media (max-width: 480px) {
				height: 20px
				width: 24px
				background-size: contain !important
			}
		}
	}
}