
// header

header {
	background: #fff
	box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15)
	img {
		max-width: auto !important
	}
	&.uk-fixed-navigation {
		position: fixed
		right: 0
		left: 0
		top: 0
		z-index: 1030
	}
	nav {
		justify-content: space-between
		.uk-navbar-brand {
			display: flex
			justify-content: center
			padding: 13px 0
			@media (max-width: 640px) {
				padding: 10px 0
			}
			img {
				height: 54px !important
				width: 54px !important
				margin: auto
				@media (max-width: 640px) {
					height: 40px !important
					width: 40px !important
				}
			}
		}
		.main-nav {
			li {
				a {
					font-size: 18px
					font-weight: 400
					text-transform: inherit
					padding: 0 50px
					color: #4B4B4B
					transition all 0.3s
					@media (min-width 960px) {
						padding: 0 25px
					}
					@media (max-width: 640px) {
						min-height: 60px
					}
				}
				&.uk-active {
					a {
						color: #4B4B4B
						font-weight: 600
					}
				}
				&:last-child {
					a {
						padding-right: 0
						padding-left: 150px
						img {
							width: 28px !important
							height: 20px !important
						}
						@media (min-width 960px) {
							padding-left: 50px
						}
					}
				}
			}
		}
		.primary-nav {
			text-align: left
			margin: 0
			padding: 10px 0
			background: #FFFFFF
			box-shadow: inset 0 12px 8px -7px rgba(0, 0, 0, 0.1)
			border-radius: 0 0 10px 10px
			li {
				a {
					white-space: nowrap
					font-size: 18px
					color: #4B4B4B
					line-height: 19px
					padding: 10px 20px !important
					@media (max-width: 640px) {
						min-height: auto !important
						font-size: 14px
						padding: 6px 12px!important
					}
				}
			}
		}
	}
}

