
.uk-modal {
	@media (min-width: 768px) {
		padding: 150px 40px
	}
	@media (max-width: 640px) {
		padding: 80px 15px
	}
}
#modal1, #modal2 {
	.uk-modal-dialog {
		width: auto
		overflow: hidden
		padding-bottom: 120px
		@media (min-width: 992px) {
			max-width: 60% !important
		}
	}
	.uk-modal-body {
		position: relative
		@media (max-width: 640px) {
			padding: 15px 15px 60px
		}
	}
	.uk-modal-close {
		border: 0
		padding: 5px
		font-size: 0
		line-height: 0
		position: absolute
		top: 10px
		right: 10px
		img {
			width: 22px
			height: 22px
		}
	}
	.uk-grid {
		img {
			margin: 30px auto
			@media (max-width: 640px) {
				display: block
				margin: 0 auto
			}
		}
		.uk-width-2-3, .uk-width-1-3 {
			@media (max-width: 640px) {
				width: 100%
			}
		}
	}
	h4 {
		font-size: 24px
		color: #5A5A5A
		line-height: 25px
		margin-bottom: 40px
		@media (max-width: 640px) {
			font-size: 18px
			line-height: 19px
			margin-bottom: 20px
			font-weight: 700
			text-align: center
		}
	}
	p {
		@media (max-width: 640px) {
			margin: 10px 0
			text-align: center
			font-size: 13px
		}
	}
	h6 {
		font-size: 18px
		color: #5A5A5A
		font-weight: 400
		@media (max-width: 640px) {
			font-size: 14px
			text-align: center
		}
	}
	ul {
		list-style: none
		padding: 0
		@media (max-width: 640px) {
			margin: 10px 0
		}
		li {
			padding-bottom: 20px
			@media (max-width: 640px) {
				font-size: 13px
			}
			span {
				float: right
			}
		}
	}
	.wave {
		position: absolute
		bottom: -20px
		left: 0
		right: 0
	}
}

#modal2 {
	.uk-modal-body {
		padding-bottom: 30px
	}
	h2 {
		font-size: 24px
		line-height: 25px
		margin-bottom: 30px
	}
	form {
		display: block
		width: 100%
		overflow: hidden
		@media (max-width: 640px) {
			width: 100%
			margin: 0 auto
		}
		input[type='text'], textarea, select {
			background: #FCFCFC
			box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.05)
			border-radius: 3px
			display: block
			width: 100%
			border: 0
			height: 40px
			line-height: 40px
			font-size: 18px
			color: #5A5A5A
			padding: 0 10px
			margin-bottom: 20px
			box-sizing: border-box
			@media (max-width: 640px) {
				margin-bottom: 10px
				font-size: 14px
			}
			&::placeholder {
				font-family: $rob
			}
		}
		label {
			text-decoration: underline
			font-size: 16px
			line-height: 32px
			font-weight: 400
			color: #5A5A5A
			float: left
			@media (max-width: 640px) {
				font-size: 14px
			}
			input {
				display: none
			}
		}
		textarea {
			height: auto
			min-height 280px
			padding: 10px
			@media (max-width: 640px) {
				min-height: 140px
			}
		}
		.main-btn {
			float: right
		}
	}
}