
.contacts {
	margin-top: 80px
	padding-bottom: 80px
	@media (min-width: 640px) and (max-width: 960px) {
		padding-bottom: 40px
	}
	@media (max-width: 640px) {
		margin-top: 60px
		padding-bottom: 40px
	}
	.line-title {
		padding: 40px 0 80px
		@media (min-width: 640px) and (max-width: 960px) {
			padding-bottom: 40px
		}
	}
	h3 {
		font-size: 24px
		line-height: 25px
		margin: 0
		@media (min-width: 640px) and (max-width: 960px) {
			font-size: 18px
			line-height: 19px
		}
	}
	h5 {
		font-size: 18px
		line-height: 19px
		font-weight: 700
		margin: 30px 0 0
		@media (min-width: 640px) and (max-width: 960px) {
			font-size: 16px
			line-height: 17px
			margin: 10px 0 0
		}
	}
	p {
		margin: 0
		font-size: 18px
		line-height: 19px
		@media (min-width: 640px) and (max-width: 960px) {
			font-size: 14px
			line-height: 15px
		}
	}
}

.vacancy {
	padding-bottom: 30px
	.line-title {
		padding: 80px 0 40px
		@media (max-width: 960px) {
			padding: 40px 0 20px
		}
	}
	.left, .right {
		@media (max-width: 960px) {
			width: 100%
			margin-bottom: 20px
		}
	}
	.left {
		padding-right: 50px
		@media (max-width: 960px) {
			padding-right: 0
		}
	}
	.vacancy-item {
		padding: 40px 0
		border-bottom: 1px solid #4B4B4B
		&:last-child {
			border: 0
		}
		h3 {
			font-size: 24px
			line-height: 25px
			padding: 0
			@media (max-width: 960px) {
				font-size: 18px
				line-height: 19px
			}
		}
		p {
			margin: 0
			font-size: 18px
			line-height: 19px
			@media (max-width: 960px) {
				font-size: 14px
				line-height: 15px
			}
		}
		h6 {
			margin-top: 20px
			font-size: 18px
			left: 19px
			font-weight: 700
			@media (max-width: 960px) {
				font-size: 16px
				line-height: 17px
				margin-top: 10px
			}
		}
		.main-btn {
			margin-top: 40px
			display: inline-block
			@media (max-width: 960px) {
				margin-top: 20px
			}
		}
	}
	.sidebar {
		background: #FFFFFF
		box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05)
		margin-top: 40px
		text-align: center
		h5 {
			background: #00A651
			text-align: center
			color: #fff
			font-size: 24px
			line-height: 25px
			margin: 0
			padding: 15px
			@media (max-width: 960px) {
				font-size: 18px
				line-height: 19px
				padding: 10px
			}
		}
		p {
			margin: 20px
			font-size: 18px
			line-height: 19px
			text-align: left
			@media (max-width: 960px) {
				margin: 10px 20px
				font-size: 14px
				line-height: 15px
			}
		}
		h6 {
			font-size: 18px
			line-height: 19px
			font-weight: 700
			margin: 0 20px
			text-align: left
			@media (max-width: 960px) {
				font-size: 16px
				line-height: 17px
			}
		}
		ul {
			list-style: none
			text-align: left
			li {
				font-size: 18px
				line-height: 19px
				font-style: italic
				@media (max-width: 960px) {
					font-size: 14px
					line-height: 15px
				}
			}
		}
		.main-btn {
			display: inline-block
			margin: 40px auto
			@media (max-width: 960px) {
				margin: 20px auto
			}
		}
	}
}

.map {
	iframe {
		@media (min-width: 640px) and (max-width: 960px) {
			max-height: 450px !important
		}
	}
}