
.entry {
	min-height 100vh
	width: 100vw
	background: rgb(9,186,59)
	background: -moz-radial-gradient(center, ellipse cover, rgba(9,186,59,1) 0%, rgba(4,87,31,1) 100%)
	background: -webkit-radial-gradient(center, ellipse cover, rgba(9,186,59,1) 0%,rgba(4,87,31,1) 100%)
	background: radial-gradient(ellipse at center, rgba(9,186,59,1) 0%,rgba(4,87,31,1) 100%)
	display: flex
	flex-direction column
	.top {
		height: 54vh
	    display: flex
	    justify-content: flex-end
	    flex-direction: column
		img {
			margin: 0
			@media (max-width: 768px) {
				max-height 60%
			}
			@media (max-width: 640px) {
				max-width: 80%
				margin: 0 auto
			}
		}
	}
	.bottom {
		height: 46vh
		display: flex
	    justify-content: center
	    flex-direction: column
	}
	form {
		width: 336px
		margin: 0 auto
		@media (max-width: 480px) {
			width: 80%
		}
		h3 {
			font-size: 24px
			font-family: $rob
			font-weight: 400
			color: #fff
			padding: 0 0 52px
			@media (max-width: 768px) {
				font-size: 18px
				padding: 0 0 20px
			}
		}
		.entry-form {
			display: flex
			padding-bottom: 52px
			justify-content space-between
			@media (max-width: 768px) {
				padding-bottom: 20px
				justify-content: center
			}
		}
		input {
			max-width 120px
			width: auto
			padding: 0
			border: 0
			border-radius: 3px
			height: 40px
			line-height: 40px
			font-size: 32px
			color: #8D8D8D
			text-align: center
			background: #FCFCFC
			box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2)
			@media (max-width: 768px) {
				font-size: 24px
				line-height: 32px
				height: 32px
			}
			&::placeholder {
				color: #8D8D8D
			}
			&.day, &.month {
				width: 84px
				@media (max-width: 480px) {
					width: 60px
					margin: 0 1px
				}
			}
			&.year {
				width: 120px
				@media (max-width: 480px) {
					width: 84px
					margin: 0 1px
				}
			}
		}
		.main-btn {

		}
	}
}

