.fc {
	padding: 80px 0 0
	@media (max-width: 640px) {
		padding: 60px 0 0
	}
	.banner {
		overflow: hidden
		img {
			display: block
			max-width: 100%
			height: auto
			width: 100%
		}
	}
	.about-fc {
		@media (max-width: 640px) {
			padding-bottom: 20px
		}
		.uk-width-1-3 {
			@media (min-width: 640px) and (max-width: 960px) {
				width: 50%
			}
			@media (max-width: 640px) {
				width: 100%
			}
		}
	}
	.about-fc, .about-fc-2 {
		overflow: hidden
		background-size: cover !important
		.line-title {
			margin: 80px 0
			@media (min-width: 960px) and (max-width: 1180px) {
				margin: 40px 0
			}
			@media (max-width: 960px) {
				margin: 40px 0
			}
		}
		p {
			font-size: 14px
			line-height: 15px
			color: #5A5A5A
			margin: 0
			padding-bottom: 80px
			border-bottom: 1px solid #4B4B4B
			@media (min-width: 640px) and (max-width: 1180px) {
				padding-bottom: 40px
			}
			@media (max-width: 640px) {
				padding-bottom: 20px
			}
			&:last-child {
				border: 0
				padding-top: 80px
				@media (min-width: 640px) and (max-width: 1180px) {
					padding-top: 40px
				}
				@media (max-width: 640px) {
					padding-top: 20px
				}
			}
		}
	}
	.about-fc-2 {
		padding: 150px 0
		@media (min-width: 640px) and (max-width: 1180px) {
			padding: 80px 0
		}
		@media (max-width: 640px) {
			padding: 40px 0
		}
		p {
			color: #fff
			border-color: #fff
		}
		.uk-grid {
			justify-content right
		}
		.empty {
			@media (max-width: 960px) {
				display: none
			}
		}
		.no-padding {
			padding: 0 130px
			position: relative
			@media (min-width: 640px) and (max-width: 1180px) {
				padding: 0 100px
			}
			@media (min-width: 640px) and (max-width: 960px) {
				width: 80%
				margin-left: 20%
				padding: 0 20px 0 100px
			}
			@media (max-width: 640px) {
				width: 95%
				margin-left: 5%
				padding: 0 0 0 70px
			}
			img {
				position: absolute
				top: 0
				left: 0
				bottom: 0
				@media (max-width: 960px) {
					max-height: 100%
				}
			}
		}
	}
}
