
/********** Главная страница *********/

// main carousel block

.main-carousel {
	.down {
		width: 56px
		height: 56px
		position: absolute
		bottom: 50px
		left: 50%
		margin-left: -28px
	}
	.uk-dotnav {
		position: absolute
		bottom: 0
		left: 0
		right: 0
		margin-bottom: 25px
		li {
			a {
				width: 12px
				height: 12px
				background: #EDEDED
				box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25)
			}
			&.uk-active {
				a {
					background: #00A651
				}
			}
		}
	}
}

// title block
.title-block {
	text-align: center
	padding: 80px 20px
	@media (max-width: 640px) {
		padding: 30px 20px
		img {
			max-width: 60%
			height: auto
		}
	}
}

// about-company block
.about-company {
	background-position center top
	background-repeat: no-repeat
	position: relative
	background: -moz-linear-gradient(-45deg, rgba(4,94,33,1) 0%, rgba(10,186,59,1) 100%)
	background: -webkit-linear-gradient(-45deg, rgba(4,94,33,1) 0%,rgba(10,186,59,1) 100%)
	background: linear-gradient(135deg, rgba(4,94,33,1) 0%,rgba(10,186,59,1) 100%)
	box-shadow: inset 0 0 56px rgba(0, 0, 0, 0.35)
	.solod {
		position: absolute
		bottom: -200px
		right: 0
		z-index: 111
		@media (min-width: 961px) and (max-width: 1200px){
			bottom: -120px
			img {
				width: 340px
			}
		}
		@media (min-width: 641px) and (max-width: 960px) {
			bottom: -100px
			img {
				width: 260px
			}
		}
		@media (max-width: 640px) {
			bottom: -90px
			img {
				width: 200px
			}
		}
	}
	.wrapper {
		padding: 80px 0
		z-index: 111
		position: relative
		@media (min-width: 961px) and (max-width: 1200px) {
			padding: 60px 0
		}
		@media (min-width: 641px) and (max-width: 960px) {
			padding: 40px 0
		}
		@media (max-width: 640px) {
			padding: 30px 0
		}
	}
	#scene {
		margin: 0
		padding: 0
		position: absolute
		bottom: 0
		right: 0
		z-index: 0
		list-style: none
		width: 115%
		height: 100%
		overflow: hidden
		top: 0
		left: -5%
		.layer {
			width: 110%
			height: 120vh
			overflow: hidden
		}
		.layer1, .layer2, .layer3 {
			background-size: cover
			background-position: center
			background-repeat: no-repeat !important
			position: absolute
			width: 100%
			height: 100%
			right: -1%
			bottom: -1%
		}
		.layer1 {z-index: 1}
		.layer2 {z-index: 2}
		.layer3 {z-index: 3}
	}
	.company-numbers {
		padding: 70px 0 90px
		@media (min-width: 961px) and (max-width: 1200px) {
			padding: 50px 0 80px
			margin: 0
		}
		@media (min-width: 641px) and (max-width: 960px) {
			padding: 40px 0 60px
			flex-direction: column
			margin: 0
		}
		@media (max-width: 640px) {
			padding: 30px 0 50px
			flex-direction: column
			margin: 0
		}
		h5 {
			font-family: $robC
			.counter-value {
				display: inline-block
				font-size: 120px
				color: #F0FF48
				font-weight: 700
				padding-bottom: 30px
				margin-right: 10px
				@media (min-width: 961px) and (max-width: 1200px) {
					font-size: 80px
					padding-bottom: 0
				}
				@media (min-width: 641px) and (max-width: 960px) {
					font-size: 80px
					padding-bottom: 0
				}
				@media (max-width: 640px) {
					font-size: 80px
					padding-bottom: 0
				}
			}
			span {
				font-size: 64px
				display: inline-block
				color: #F0FF48
				font-weight: 700
				margin-left: 10px
				@media (min-width: 961px) and (max-width: 1200px) {
					font-size: 40px
				}
				@media (min-width: 641px) and (max-width: 960px)  {
					font-size: 40px
				}
				@media (max-width: 640px) {
					font-size: 40px
				}
			}
		}
		h3 {
			font-size: 24px
			color: #fff
			padding-bottom: 30px
			@media (min-width: 961px) and (max-width: 1200px) {
				font-size: 18px
				padding-bottom: 10px
			}
			@media (max-width: 640px) {
				font-size: 18px
				padding-bottom: 10px
			}
		}
		p {
			font-size: 14px
			color: #fff
		}
		.uk-width-1-3 {
			padding: 0 50px
			border-right: 2px solid rgba(255, 255, 255, 0.3)
			@media (min-width: 961px) and (max-width: 1200px) {
				padding: 0 30px
			}
			@media (min-width: 641px) and (max-width: 960px) {
				width: 100%
				box-sizing border-box
				padding: 0
				margin: 0
				border: 0
				text-align: center
				justify-content center
			}
			@media (max-width: 640px) {
				width: 100%
				box-sizing border-box
				padding: 0
				margin: 0
				border: 0
				text-align: center
				justify-content center
			}
			&:first-child {
				padding-left: 0
			}
			&:last-child {
				padding-right: 0
				border: none
			}
		}
	}
	.bottom-line {
		position: relative
		display: flex
		justify-content space-between
		margin-right: -100px
		margin-left: -40px
		@media (max-width: 1200px) {
			margin-left: 0
		}
		.main-btn {
			position: relative
			display: inline-block
			overflow: inherit
			opacity: 0
			transition: all 3s
		}
		.line {
			align-self center
			display: inline-block
			width: 0
			height: 2px
			background: #fff
			position: relative
			transition: all 1s ease-out
			@media (min-width: 961px) and (max-width: 1200px) {
				left: 100px
			}
			@media (max-width: 960px) {
				left: 50px
			}
			&:before {
				width: 6px
				height: 6px
				content: ''
				background: #fff
				position: absolute
				left: 0
				top: 50%
				margin-top: -3px
				border-radius: 50%
			}
		}
	}
	&.in-view {
		.bottom-line {
			.main-btn {
				opacity: 1
			}
			.line {
				width: 1100px

			}
		}
	}
}
// brands block
.brands {
	padding: 80px 0
	text-align: center
	@media (min-width: 961px) and (max-width: 1200px) {
		padding: 50px 0
	}
	@media (min-width: 641px) and (max-width: 960px) {
		padding: 40px 0
	}
	@media (max-width: 640px) {
		padding: 80px 0 20px
	}
	h2 {
		font-size: 32px
		color: #5A5A5A
		padding-bottom: 80px
		@media (min-width: 641px) and (max-width: 960px) {
			padding-bottom: 40px
		}
		@media (max-width: 640px) {
			padding-bottom: 20px
		}
	}
	.brands-list {
		.row {
			display: flex
			justify-content space-around
			padding-bottom: 80px
			@media (min-width: 641px) and (max-width: 960px) {
				padding-bottom: 40px
			}
			@media (max-width: 640px) {
				justify-content: center
				flex-wrap: wrap
				padding-bottom: 0
			}
			a {
				display: block
				@media (min-width: 641px) and (max-width: 960px) {
					margin: 0 10px
					max-width: 200px
                    max-height: 80px
					margin-bottom: 20px
				}
				@media (max-width: 640px) {
					max-width: 100px
                    max-height: 60px
					min-width: 35%
					padding-bottom: 20px
					margin-left: 10px
					margin-right: 10px
					img {
						max-width: 100%
						max-height: 60px
					}
				}
				img {
					filter: grayscale(100%)
					transition: all 0.3s
				}
				&:hover {
					cursor: inherit
					img {
						filter: grayscale(0)
					}
				}
			}
		}
	}
}
// poll block
.poll {
	margin-bottom: 120px
	@media (min-width: 641px) and (max-width: 960px) {
		margin-bottom: 80px
	}
	.poll-container {
		background: #fff !important
		box-shadow: 0 84px 56px rgba(36, 129, 196, 0.2), 0px 84px 64px rgba(0, 0, 0, 0.15)
		border-radius: 1px
		position: relative
		height: 766px
		overflow: hidden
		@media (max-width: 1200px) {
			padding: 0
			margin: 0 40px
		}
		@media (min-width: 641px) and (max-width: 960px) {
			margin: 0 20px
			height: 620px
		}
		@media (max-width: 420px) {
			height: 850px
		}
		.poll-content {
			position: absolute
			top: 0
			bottom: 0
			right: 0
			left: 0
			z-index: 1
			padding: 70px 0 180px
			@media (max-width: 641px) {
				display: block
				padding: 20px 0 100px
			}
		}
	}
	#water-spring {
		position: absolute
		bottom: -100px
		left: 0
		width: 100% !important
		height: 300px !important
		background: #ffffff
		z-index: 0
	}
	.right-side {
		padding: 0 70px 0 30px
		text-align: left
		@media (min-width: 641px) and (max-width: 960px) {
			padding: 0 40px 0 10px
		}
		@media (max-width: 641px) {
			width: 100%
			box-sizing: border-box
			padding: 0 20px 0 50px
		}
		h3 {
			padding: 0
			margin: 0 0 40px
			font-size: 24px
			color: #5A5A5A
			text-transform: uppercase
			@media (min-width: 641px) and (max-width: 960px) {
				margin: 0 0 20px
				font-size: 18px
			}
			@media (max-width: 641px) {
				font-size: 18px
				margin: 20px 0
			}
		}
		h6 {
			font-size: 18px
			color: #5A5A5A
			margin-bottom: 40px
			@media (min-width: 641px) and (max-width: 960px) {
				font-size: 16px
				margin-bottom: 20px
			}
			@media (max-width: 641px) {
				font-size: 14px
				margin-bottom: 20px
			}
		}
		ul {
			padding: 0
			li {
				list-style: none
				padding: 0
				font-size: 14px
				color: #5A5A5A
				padding-bottom: 20px
				@media (min-width: 641px) and (max-width: 960px) {
					padding-bottom: 10px
					font-size: 13px
				}
				@media (max-width: 641px) {
					font-size: 13px
					padding-bottom: 0
				}
				span {
					float: right
				}
			}
		}
		p {
			font-size: 14px
			color: #5A5A5A
			margin-bottom: 40px
			@media (min-width: 641px) and (max-width: 960px) {
				font-size: 13px
				margin-bottom: 25px
			}
		}
	}
	.left-side {
		@media (max-width: 641px)  {
			width: 100%
			padding: 0 0 0 40px
		}
		.image-block {
			@media (min-width: 641px) and (max-width: 960px) {
				width: 40%
				padding: 0
			}
			@media (max-width: 641px) {
				width: 40%
				padding: 0
			}
		}
		.form-block {
			padding: 0 30px 0 70px
			@media  (max-width: 960px) {
				padding: 0 0 0 40px
				width: 60%
			}
			h4 {
				font-size: 18px
				line-height: 19px
				color: #1D564E
				font-weight: 500
				padding-bottom: 40px
				@media (min-width: 641px) and (max-width: 960px) {
					font-size: 16px
					line-height: 17px
					padding-bottom: 20px
				}
				@media (max-width: 641px) {
					font-size: 16px
					line-height: 16px
					padding-bottom: 20px
				}
			}
			form {
				@media (max-width: 960px)  {
					p {
						margin: 10px 0
					}
				}
				@media (max-width: 641px) {
					margin: 3px 0
				}
				.main-btn {
					margin-top: 40px
					border: 0
					@media (min-width: 641px) and (max-width: 960px)  {
						margin-top: 20px
					}
					@media (max-width: 641px) {
						margin-top: 10px
					}
				}
				[type="radio"]:checked,
				[type="radio"]:not(:checked) {
				    position: absolute
				    left: -9999px
				}
				[type="radio"]:checked + label,
				[type="radio"]:not(:checked) + label
				{
				    position: relative
				    padding-left: 28px
				    cursor: pointer
				    line-height: 20px
				    display: inline-block
				    color: #4B4B4B
					@media (max-width: 641px) {
						font-size: 13px
						line-height: 14px
					}
				}
				[type="radio"]:checked + label:before,
				[type="radio"]:not(:checked) + label:before {
				    content: ''
				    position: absolute
				    left: 0
				    top: 0
				    width: 18px
				    height: 18px
				    border: 1px solid #ddd
				    border-radius: 100%
				    background: #fff
					@media (max-width: 641px) {
						width: 12px
						height: 12px
					}
				}
				[type="radio"]:checked + label:after,
				[type="radio"]:not(:checked) + label:after {
				    content: ''
				    width: 12px
				    height: 12px
				    background: #00A651
				    position: absolute
				    top: 4px
				    left: 4px
				    border-radius: 100%
				    -webkit-transition: all 0.2s ease
				    transition: all 0.2s ease
					@media (max-width: 641px) {
						top: 1px
						left: 1px
					}
				}
				[type="radio"]:not(:checked) + label:after {
				    opacity: 0
				    -webkit-transform: scale(0)
				    transform: scale(0)

				}
				[type="radio"]:checked + label:after {
				    opacity: 1
				    -webkit-transform: scale(1)
				    transform: scale(1)
				}
			}
		}
	}
}
// production block
.production {
	text-align: center
	padding-bottom: 120px
	@media (max-width: 960px) {
		padding-bottom: 80px
	}
	@media (max-width: 960px) {
		padding-bottom: 60px
	}
	.production-item {
		position: relative
		transition: all 0.3s
		&:hover {
			transform scale(1.5)
			z-index: 11
		}
		@media (max-width: 640px) {
			width: 100%
			&:hover {
				transform scale(1.0)
			}
		}
	}
	h2 {
		border-top: 2px solid #A6A6A6
		padding: 80px 0
		@media (max-width: 640px) {
			padding: 40px 0
		}
	}
	h5 {
		position: absolute
		left: 40px
		right: 0
		bottom: 40px
		text-align: center
		color: #fff
		font-size: 24px
		text-transform: uppercase
	}
	.img-wrapper {
		height: 240px
		width: 100%
		overflow: hidden
		img {
			width: 100%
			height: 100%
			object-fit: cover
		}
	}
}

// news block
.news_main-page {
	text-align: center
	padding-bottom: 80px
	h2 {
		padding: 40px 0
		font-size: 32px
		line-height: 38px
		color: #5A5A5A
		@media (max-width: 640px) {
			padding: 20px 0
		}
	}
}
.news-grid {
	padding-bottom: 40px
	@media (max-width: 960px) {
		padding-bottom: 20px
	}
	.news-item-wrapper {
		@media (max-width: 960px) {
			width: 50%
			margin-bottom: 20px
		}
		@media (max-width: 480px) {
			width: 100%
			margin-bottom: 20px
		}
	}
	.news-item {
		background: #FFFFFF
		box-shadow: 0 4px 12px rgba(163, 222, 214, 0.25)
		text-align: left
		display: block
		text-decoration: none
		h4 {
			font-size: 14px
			font-weight: 500
			color: #5A5A5A
			padding: 10px
		}
		p {
			font-size: 12px
			line-height: 13px
			color: #5A5A5A
			padding: 0 10px 30px 10px
			margin: 0
		}
	}
	.img-wrapper {
		height: 160px
		position: relative
		overflow: hidden
		img {
			width: 100%
			height: 100%
			object-fit cover
		}
		span.date {
			color: #fff
			left: 0
			right: 0
			bottom: 0
			padding: 10px
			display: block
			font-size: 14px
			position: absolute
			text-align: left
		}
	}
}



