.products {
	margin-top: 80px
	background: -moz-radial-gradient(center, ellipse cover, rgba(9,186,59,1) 0%, rgba(4,87,31,1) 100%)
	background: -webkit-radial-gradient(center, ellipse cover, rgba(9,186,59,1) 0%,rgba(4,87,31,1) 100%)
	background: radial-gradient(ellipse at center, rgba(9,186,59,1) 0%,rgba(4,87,31,1) 100%)
	padding-bottom: 20px
	@media (max-width: 640px) {
		margin-top: 60px
	}
	h1 {
		font-size: 32px
		line-height: 34px
		color: #fff
		padding: 40px 0 50px
		text-align: center
		@media (max-width: 640px) {
			padding: 30px 0
		}
	}
	h2 {
		font-size: 24px
		line-height: 25px
		color: #fff
		text-align: left
		position: relative
		margin-bottom: 25px
		overflow: hidden
		@media (max-width: 640px) {
			margin-bottom: 10px
			font-size: 18px
			line-height: 19px
		}
		&:after {
			content: ''
			display: block
			background: #fff
			height: 2px
			width: 1000px
			left: 200px
			right: 0
			position: absolute
			top: 50%
			margin-top: -1px
		}
	}
	ul.product-list {
		list-style: none
		padding: 0 0 80px
		margin: 0
		display: flex
		justify-content: center
		flex-wrap: wrap
		@media (max-width: 640px) {
			justify-content: center
			padding: 0 0 30px
		}
		li {
			width: 270px
			height: 316px
			background: #fff
			text-align: center
			margin: 15px
			position: relative
			@media (min-width: 640px) and (max-width: 960px) {
				margin: 10px
			}
			@media (max-width: 640px) {
				margin: 10px 0
			}
			a {
				position: absolute
				z-index: 99
				top: 0
				bottom: 0
				left: 0
				right: 0
			}
			.img-wrapper {
				margin: 20px 40px 0
			}
			h3 {
				font-size: 18px
				line-height: 18px
				color: #4B4B4B
				height: 52px
				padding: 5px 10px
				box-sizing border-box
				vertical-align: center
				background: #ECECEC
				text-align: center
				align-self: center
				display: flex
				justify-content: center
				position: absolute
				bottom: 0
				left: 0
				right: 0
				transition: all 0.3s
			}
			&:hover {
				h3 {
					background: #F72F5F
					color: #fff
				}
			}
		}
	}
	&.products-white {
		margin-top: 0
		background: #fff
		padding: 80px 0 0
		@media (max-width: 640px) {
			padding: 40px 0 0
		}
		h2 {
			color: #4B4B4B
			&:after {
				background: #4B4B4B
			}
		}
	}
}
