| {% load staticfiles %}

section.about-company#about-company
    .wrapper
        h2.line-title
            span О компании
        .uk-container
            .uk-grid.company-numbers#counter
                .uk-width-1-3
                    h5
                        .counter-value(data-count='19') 0
                        span лет
                    h3 на рынке Кыргызстана
                    p(data-aos='fade-up', data-aos-anchor-placement='center-center')
                        |Компания «Абдыш-Ата» была создана в 2000 году на базе Кантского сахарного завода, заложенного в далеком 1929 году. Начинала деятельность с экспериментального производства пива торговой марки "Наше". Тогда производительность в сутки насчитывала всего несколько ящиков пива, постепенно набирая и увеличивая обороты. Уже через год завод крепко стоял на ногах, постепенно приобретая статус ведущего пивоваренного предприятия республики.
                .uk-width-1-3
                    h5
                        .counter-value(data-count='90') 0
                        span %
                    h3 охват рынка
                    p(data-aos='fade-up', data-aos-anchor-placement='center-center')
                        | В настоящий момент мы охватываем 90% рынка Кыргызстана. Параллельно с  ростом производственных мощностей комплексно велась работа по модернизации оборудования, за несколько лет старое оборудование было полностью заменено на современные образцы немецкого производства.
                .uk-width-1-3
                    h5
                        .counter-value(data-count='16') 0
                        span млн.
                    h3 литров выпущено
                    p(data-aos='fade-up', data-aos-anchor-placement='center-center')
                        | Сегодня продукцию компании «Абдыш-Ата» можно купить в любых торговых точках по всей республике. Популярность, спрос и признание продукции свидетельствует о том, что компания «Абдыш-Ата» достойно именуется  национальной компанией.
            .bottom-line
                a(href='#').main-btn.yellow Подробнее
                .line
    .solod
        img(src='./static/svg/solod.svg', alt)
    ul#scene
        li.layer(data-depth='0.1')
            .layer1(style='background: url(./static/svg/bg/layer-1.svg);')
        li.layer(data-depth='0.2')
            .layer2(style='background: url(./static/svg/bg/layer-2.svg);')
        li.layer(data-depth='0.3')
            .layer3(style='background: url(./static/svg/bg/layer-3.svg);')