| {% load staticfiles %}

section.brands(style='background-image: url(./static/svg/brands-bg.svg);')
    .uk-container
        h2 Наши бренды
        .brands-list
            .row(data-aos='fade-up', data-aos-anchor-placement='center-center')
                a
                    img(src='static/svg/logos/urban.svg')
                a
                    img(src='static/svg/logos/nashe.svg')
                a
                    img(src='static/svg/logos/red.svg')
            .row(data-aos='fade-up', data-aos-anchor-placement='center-center')
                a
                    img(src='static/svg/logos/jivoe.svg')
                a
                    img(src='static/svg/logos/sila.svg')
                a
                    img(src='static/svg/logos/bezalko.svg')
                a
                    img(src='static/svg/logos/kvas.svg')
            .row(data-aos='fade-up', data-aos-anchor-placement='center-center')
                a
                    img(src='static/svg/logos/nitro.svg')
                a
                    img(src='static/svg/logos/shahter.svg')
                a
                    img(src='static/svg/logos/issyk.svg')