| {% load staticfiles %}

section.news_main-page
    .uk-container
        h2 Новости
        .uk-grid.news-grid
            .uk-width-1-4.news-item-wrapper
                include ../news/newsItem
            .uk-width-1-4.news-item-wrapper
                include ../news/newsItem
            .uk-width-1-4.news-item-wrapper
                include ../news/newsItem
            .uk-width-1-4.news-item-wrapper
                include ../news/newsItem
        a.main-btn.green(href='#') Все новости