| {% load staticfiles %}

section.poll(style='background: url(./static/svg/poll-bg.svg) center bottom no-repeat;')
    .uk-container.poll-container
        .uk-grid.poll-content
            .uk-width-1-2.left-side
                .uk-grid
                    .uk-width-1-2.form-block
                        h4 Как часто Вы покупаете пиво?
                        form
                            p
                                input(type='radio', name='radio' id='radio-1')
                                label(for='radio-1') После работы
                            p
                                input(type='radio', name='radio' id='radio-2')
                                label(for='radio-2')  Раз в два дня
                            p
                                input(type='radio', name='radio' id='radio-3')
                                label(for='radio-3')  Раз в неделю
                            p
                                input(type='radio', name='radio' id='radio-4')
                                label(for='radio-4')  Раз в месяц
                            p
                                input(type='radio', name='radio' id='radio-5')
                                label(for='radio-5')  По праздникам
                            button.main-btn.green Отправить
                    .uk-width-1-2.image-block
                        img(src='static/svg/jivoe.svg')
            .uk-width-1-2.right-side
                h3 ТМ «Живое» - Живое Безалкогольное
                h6 Светлое, фильтрованное пиво, сделанное из натуральных компонентов: вода артезианская, солод светлый, немецкий хмель.
                ul
                    li Объем продукта:
                        span 0,5 л. Стекло, 1,0л.- ПЭТ.
                    li Срок годности:
                        span не менее 75 суток;
                    li Условия хранения:
                        span от 00С до 300С
                    li Начало производства:
                        span 2015 год
                    li Содержание спирта
                        span не более 0,5%
                p Рекомендуется употреблять охлажденным
                    br
                    | для получения максимального наслаждения.
                a.main-btn.green(href='#') Все продукты
        canvas#water-spring