| {% load staticfiles %}

section.production
    .uk-container
        h2 Производство
        .uk-grid
            .uk-width-1-3.production-item
                .img-wrapper
                    img(src='static/svg/production-item-1.svg')
                h5 пивоварня
            .uk-width-1-3.production-item
                .img-wrapper
                    img(src='static/svg/production-item-2.svg')
                h5 Цех напитков
            .uk-width-1-3.production-item
                .img-wrapper
                    img(src='static/svg/production-item-3.svg')
                h5 лаборатория