| {% load staticfiles %}

section.main-carousel
    .uk-position-relative.uk-visible-toggle.uk-light(tabindex='-1', uk-slider='center: true; autoplay: true')
        ul.uk-slider-items.uk-grid.uk-grid-match(uk-height-viewport='offset-top: true; offset-bottom: 30')
            li.uk-width-1-1
                .uk-cover-container
                    img(src='static/jpg/main-slider-img-1.jpg', alt='', uk-cover='')
            li.uk-width-1-1
                .uk-cover-container
                    img(src='static/jpg/main-slider-img-2.jpg', alt='', uk-cover='')
            li.uk-width-1-1
                .uk-cover-container
                    img(src='static/jpg/main-slider-img-3.jpg', alt='', uk-cover='')
        span.down.pulse
            img(src='static/svg/down.svg')
        ul.uk-slider-nav.uk-dotnav.uk-flex-center.uk-margin