a(href='#').news-item
    .img-wrapper
        img(src='static/jpg/news-item.jpg')
        span.date 27.02.2019
    h4 Встреча команд Алай и Живое
    p Со счетом 9:1 закончилась встреча команд Алай и Живое