extends base.pug

| {% load staticfiles %}

block link
    link(href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet")

block content

    section.video
        video#video(autoplay, muted, loop, preload='none', width='100%')
            source#mp4(src='static/video/video.mp4', type='video/mp4')
            //source#webm(src='http://media.w3.org/2010/05/sintel/trailer.webm', type='video/webm')
            //source#ogv(src='http://media.w3.org/2010/05/sintel/trailer.ogv', type='video/ogg')
            //track(kind='subtitles', label='English subtitles', src='subtitles_en.vtt', srclang='en', default='')
            //track(kind='subtitles', label='Deutsche Untertitel', src='subtitles_de.vtt', srclang='de')
        span.down.pulse
            img(src='static/svg/down.svg')

    section.about-page-carousel
        h2.line-title
            span О компании
        .uk-position-relative.uk-visible-toggle.uk-light(tabindex='-1', uk-slider='')
            ul.uk-slider-items.uk-grid
                li.uk-width-1-1
                    .uk-panel
                        img(src='static/jpg/about-slider-1.jpg', alt='')
                        .uk-position-center.uk-text-left.carousel-content.uk-container
                            h2(uk-slider-parallax='x: 100,-100') Мы стремимся
                                br
                                | занять позицию №1
                            p(uk-slider-parallax='x: 100,-100') на кыргызском рынке с существенным отрывом от конкурентов, быть наиболее эффективной (с точки зрения затрат) компанией со сбалансированным портфелем, в котором особое внимание уделяется премиум сегменту.
                li.uk-width-1-1
                    .uk-panel
                        img(src='static/jpg/about-slider-2.jpg', alt='')
                        .uk-position-center.uk-text-left.carousel-content.uk-container
                            h2(uk-slider-parallax='x: 100,-100') Энтузиазм и
                                br
                                | Гордость:
                            p(uk-slider-parallax='x: 100,-100') Мы гордимся нашими брендами и нашей историей. Мы горячо любим свой бизнес. Мы позитивно воспринимаем любые сложные задачи и верим, что мы можем все.
                li.uk-width-1-1
                    .uk-panel
                        img(src='static/jpg/about-slider-3.jpg', alt='')
                        .uk-position-center.uk-text-left.carousel-content.uk-container
                            h2(uk-slider-parallax='x: 100,-100') Профессионализм:
                            p(uk-slider-parallax='x: 100,-100') Мы ценим честность и открытость. Мы соблюдаем и придерживаемся установленных корпоративных стандартов и правил.
                li.uk-width-1-1
                    .uk-panel
                        img(src='static/jpg/about-slider-4.jpg', alt='')
                        .uk-position-center.uk-text-left.carousel-content.uk-container
                            h2(uk-slider-parallax='x: 100,-100') Предпринимательский
                                br
                                | подход:
                            p(uk-slider-parallax='x: 100,-100') Мы поощряем развитие культуры инноваций, прогрессивного мышления и постоянного совершенствования.
                li.uk-width-1-1
                    .uk-panel
                        img(src='static/jpg/about-slider-5.jpg', alt='')
                        .uk-position-center.uk-text-left.carousel-content.uk-container
                            h2(uk-slider-parallax='x: 100,-100') Сотрудничество:
                            p(uk-slider-parallax='x: 100,-100') Нам доверяют, мы отвечаем за наши решения и действия и вместе стремимся к успеху.
            a.uk-position-center-left.uk-position-small.uk-hidden-hover(href='#', uk-slidenav-previous='', uk-slider-item='previous')
            a.uk-position-center-right.uk-position-small.uk-hidden-hover(href='#', uk-slidenav-next='', uk-slider-item='next')
            ul.uk-slider-nav.uk-dotnav.uk-flex-center.uk-margin
                span

    section.about-page-text
        .uk-container
            .uk-grid
                .uk-width-1-3
                    img(src='static/svg/logo-about-page.svg')
                .uk-width-2-3
                    p Компания «Абдыш-Ата» была создана в 2000 году на базе Кантского сахарного завода, заложенного в далеком 1929 году. Начинала деятельность с экспериментального производства пива торговой марки "Наше". Тогда производительность в сутки насчитывала всего несколько ящиков пива, постепенно набирая и увеличивая обороты. Уже через год завод крепко стоял на ногах, постепенно приобретая статус ведущего пивоваренного предприятия республики.
                        | Сегодня продукцию компании «Абдыш-Ата» можно купить в любых торговых точках по всей республике. Популярность, спрос и признание продукции свидетельствует о том, что компания «Абдыш-Ата» достойно именуется  национальной компанией.
                        | В настоящий момент мы охватываем 90% рынка Кыргызстана. Параллельно с  ростом производственных мощностей комплексно велась работа по модернизации оборудования, за несколько лет старое оборудование было полностью заменено на современные образцы немецкого производства.
                    p С самых первых своих шагов в пивоварении компания «Абдыш-Ата» взяла курс на использование только натуральных компонентов, отказавшись от использования консервантов. Ассортиментная линейка продукции компании расширялась из года в год – появились новые пивные бренды, такие как «Наше Шахтерское», «Живое», «RedSun», «Urban 312» и другие, было налажено производство безалкогольных напитков – кваса, минеральной воды, витаминизированного напитка «Живая Сила», энергетического напитка «Nitro».
                    p Сегодня компания «Абдыш-Ата» является одним из самых крупных промышленных предприятий республики, широко известная своими благотворительными проектами, а также спонсорской поддержкой важных мероприятий для Кыргызстана.

    section.about-awards
        h2.line-title.dark
            span Награды
        div(uk-slider='finite: true')
            ul.uk-slider-items.awards-slider.uk-light(class='uk-child-width-1-3@s uk-child-width-1-4@m')
                li.uk-transition-toggle(tabindex='0')
                    img(src='static/svg/awards-1.svg', alt='')
                li.uk-transition-toggle(tabindex='0')
                    img(src='static/svg/awards-2.svg', alt='')
                li.uk-transition-toggle(tabindex='0')
                    img(src='static/svg/awards-3.svg', alt='')
                li.uk-transition-toggle(tabindex='0')
                    img(src='static/svg/awards-4.svg', alt='')
                li.uk-transition-toggle(tabindex='0')
                    img(src='static/svg/awards-1.svg', alt='')
                li.uk-transition-toggle(tabindex='0')
                    img(src='static/svg/awards-2.svg', alt='')
                li.uk-transition-toggle(tabindex='0')
                    img(src='static/svg/awards-3.svg', alt='')
                li.uk-transition-toggle(tabindex='0')
                    img(src='static/svg/awards-4.svg', alt='')
                li.uk-transition-toggle(tabindex='0')
                    img(src='static/svg/awards-1.svg', alt='')
                li.uk-transition-toggle(tabindex='0')
                    img(src='static/svg/awards-2.svg', alt='')
                li.uk-transition-toggle(tabindex='0')
                    img(src='static/svg/awards-3.svg', alt='')
                li.uk-transition-toggle(tabindex='0')
                    img(src='static/svg/awards-4.svg', alt='')

    //section.dates
    //    .uk-container
    //        .dates-container
    //            .slider.slider-nav
    //                div.slider-nav-item
    //                    h3 2015
    //                div.slider-nav-item
    //                    h3 2014
    //                div.slider-nav-item
    //                    h3 2013
    //                div.slider-nav-item
    //                    h3 2012
    //                div.slider-nav-item
    //                    h3 2011
    //                div.slider-nav-item
    //                    h3 2010
    //            .slider.slider-for
    //                div.slider-for-item
    //                    img(src='static/jpg/dates.jpg', alt='')
    //                div.slider-for-item
    //                    img(src='static/jpg/dates.jpg', alt='')
    //                div.slider-for-item
    //                    img(src='static/jpg/dates.jpg', alt='')
    //                div.slider-for-item
    //                    img(src='static/jpg/dates.jpg', alt='')
    //                div.slider-for-item
    //                    img(src='static/jpg/dates.jpg', alt='')
    //                div.slider-for-item
    //                    img(src='static/jpg/dates.jpg', alt='')





block js
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js')
    //script.
    //    $(document).ready(function () {
    //        $('.slider-for').slick({
    //            slidesToShow: 1,
    //            slidesToScroll: 1,
    //            arrows: false,
    //            fade: false,
    //            asNavFor: '.slider-nav'
    //        });
    //        $('.slider-nav').slick({
    //            centerMode: false,
    //            centerPadding: '30px',
    //            vertical: true,
    //            slidesToShow: 6,
    //            asNavFor: '.slider-for',
    //            dots: false,
    //            focusOnSelect: true
    //        });
    //    });


