extends base.pug

| {% load staticfiles %}

block content

    section.contacts
        h2.line-title.dark
            span Контакты
        .uk-container.uk-text-center
            h3 Контакты Отдела Маркетинга и Развития
            h5 Контакты PR
            p +996 553 241425
            p E-mail: sharsheeva.a@abdyshata.kg
            h5 Контакты отдела продаж:
            p +996 0312 50 650
            h5 Контакты приемной и факса:
            p 0132 5 56 19
            h3 Наш адрес:
            p Кыргызская Республика
                br
                | город Кант, улица Московская, 7
            h3 Фирменные магазины
            p г.Кант, ул.Московская 7
                br
                | Схема/Карта
            p г. Бишкек, ул. Жибек-Жолу 288
                br
                | Схема/Карта
    section.map
        iframe(src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d11695.48124289592!2d74.681016!3d42.8755814!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2skg!4v1556438045816!5m2!1sru!2skg", width="100%", height="700px", frameborder="0", style="border:0", allowfullscreen)

    section.vacancy
        h2.line-title.dark
            span Вакансии
        .uk-container
            .uk-grid
                .uk-width-2-3.left
                    .vacancy-item
                        h3 Контролёр склада / Кладовщик
                        h6 от 25 000 сом
                        p Опыт работы от 1 года, сменный график работы, на территории работодателя
                        h6 Обязанности:
                        p Отслеживание выпускаемой продукции по ассортименту на складе, внесение изменений в программе 1С, совместная работа с начальником смены склада, руководство погрузочными работами и отслеживание ритмичности подачи машин. Управление логистикой.
                        h6 Требования:
                        p Знание "1С (8.2):Торговля и Склад"
                        p Опыт работы кладовщиком, хорошая скорость работы в табличных программах
                        h6 Условия:
                        p Сменный график, день/ночь, два выходных.
                        p Работа по ТК РФ.
                        p Место работы: Гая, 95 (проезд маршрутным такси №2и № 59 до остановки Пивзавод)
                        a(href='#modal2', uk-toggle='').main-btn.green Отправить резюме
                    .vacancy-item
                        h3 Контролёр склада / Кладовщик
                        h6 от 25 000 сом
                        p Опыт работы от 1 года, сменный график работы, на территории работодателя
                        h6 Обязанности:
                        p Отслеживание выпускаемой продукции по ассортименту на складе, внесение изменений в программе 1С, совместная работа с начальником смены склада, руководство погрузочными работами и отслеживание ритмичности подачи машин. Управление логистикой.
                        h6 Требования:
                        p Знание "1С (8.2):Торговля и Склад"
                        p Опыт работы кладовщиком, хорошая скорость работы в табличных программах
                        h6 Условия:
                        p Сменный график, день/ночь, два выходных.
                        p Работа по ТК РФ.
                        p Место работы: Гая, 95 (проезд маршрутным такси №2и № 59 до остановки Пивзавод)
                        a(href='#modal2', uk-toggle='').main-btn.green Отправить резюме
                .uk-width-1-3.right
                    .sidebar
                        h5.green Карьера в “Абдыш-Ата”
                        p Компания “Абдыш-Ата” стремительно развивающаяся микрокредитная Компания. Мы растем географически и увеличиваем спектр наших услуг, и приглашаем честных, инициативных, коммуникабельных профессионалов в нашу дружелюбную команду.
                        p Своих сотрудников мы считаем основой нашего успеха и глубоко ценим мнение каждого из них. Все сотрудники  Мол Булак  имеют возможность в полной мере проявить свои таланты и раскрыть свой потенциал.
                        h6 Компания предлагает сотрудникам:
                        ul
                            li - интересную и полезную для общества работу,
                            li - обучение и возможности для профессионального и личностного роста,
                            li - конкурентные условия оплаты труда,
                            li - приятную рабочую обстановку, простор для творчества и возможность участвовать в принятии решений,
                            li - многонациональный дружный коллектив.
                        p Если Вы заинтересованы в работе с нашей Компанией, будем рады получить Ваше резюме с указанием  должности на которую Вы претендуете. Мы обязательно рассмотрим Ваше резюме. Если в момент поступления заявки в Компании не будет подходящих вакансий, Ваша заявка будет сохранена в нашей базе данных.
                        p Мы будем рады видеть Вас в нашей команде!
                        p С наилучшими пожеланиями,
                            br
                            | Отдел по управлению персоналом.
                        a(href='#modal2', uk-toggle='').main-btn.green Отправить резюме

    include components/modal/modal2

block js
    script.
