extends base.pug

| {% load staticfiles %}

block content

    section.fc
        .banner
            img(src='static/svg/fc.svg')
        .about-fc(style='background: url(./static/svg/ball.svg) center no-repeat;')
            .uk-container
                h2.line-title.dark
                    span ФК “Абдыш-Ата”
                .uk-grid
                    .uk-width-1-3
                        p Футбольная команда «Абдыш-Ата» была сформирована при заводе практически одновременно с запуском пивоваренного производства. Однако очень скоро она уже переросла рамки рядовой корпоративной команды и в ее составе начали появляться талантливые и опытные профессиональные игроки.
                            | В 2002 году ФК «Абдыш-Ата» выиграл турнир среди команд первой лиги и добился права выйти в высшую лигу. С тех пор кантский клуб с каждым годом становился все более заметным явлением в футбольном мире Кыргызстана.
                        p Стоит отметить, что в разные годы, честь  «Абдыш-Аты» защищали такие известные футболисты как Вячеслав Прянишников, Закир Джалилов, Владимир Сало и другие. Особенно хочется отметить таких воспитанников клуба, как Эмил Кенжисариев, который в 2004 году был назван лучшим футболистом КР, уехал выступать в Казахстан и на сегодняшний момент стал трехкратным чемпионом соседней республики.  А также Антона Землянухина - он стал первым кыргызстанским футболистом в профессиональном футболе Турции и провел два с половиной сезона в турецком «Гиресунспоре». На данный момент он выступает за Сербский клуб "Раднички".
        .about-fc-2(style='background: url(./static/svg/ball-2.svg) center no-repeat;')
            .uk-container
                .uk-grid
                    .uk-width-1-2.empty
                    .uk-width-1-2.no-padding
                        img(src='static/svg/abdysh-vertical.svg')
                        p Футбольная команда «Абдыш-Ата» была сформирована при заводе практически одновременно с запуском пивоваренного производства. Однако очень скоро она уже переросла рамки рядовой корпоративной команды и в ее составе начали появляться талантливые и опытные профессиональные игроки.
                            | В 2002 году ФК «Абдыш-Ата» выиграл турнир среди команд первой лиги и добился права выйти в высшую лигу. С тех пор кантский клуб с каждым годом становился все более заметным явлением в футбольном мире Кыргызстана.
                        p Стоит отметить, что в разные годы, честь  «Абдыш-Аты» защищали такие известные футболисты как Вячеслав Прянишников, Закир Джалилов, Владимир Сало и другие. Особенно хочется отметить таких воспитанников клуба, как Эмил Кенжисариев, который в 2004 году был назван лучшим футболистом КР, уехал выступать в Казахстан и на сегодняшний момент стал трехкратным чемпионом соседней республики.  А также Антона Землянухина - он стал первым кыргызстанским футболистом в профессиональном футболе Турции и провел два с половиной сезона в турецком «Гиресунспоре». На данный момент он выступает за Сербский клуб "Раднички".


block js
    script.
