extends base.pug

| {% load staticfiles %}

block content

    section.feedback
        h2.line-title.dark
            span Отзывы
        .uk-container
            .uk-grid
                .uk-width-1-2.left
                    p Мы дорожим нашей репутацией и всегда готовы идти навстречу потребителю.
                    p Если у вас возникли вопросы о качестве продукции или желание высказать мнение о нашем ассортименте, вы можете оставить свой отзыв на данной страничке.
                        | Пожалуйста, заполните все пункты из списка вопросов - это позволит нам более оперативно реагировать на все Ваши замечания и пожелания.
                    p Благодарим вас за обращение, нам важно ваше мнение.
                    img(src='static/svg/logo-about-page.svg')
                .uk-width-1-2.right
                    .uk-grid
                        .uk-width-1-3.empty
                        .uk-width-2-3.review-block
                            h3 Оставить отзыв
                            form
                                input(type='text' placeholder='Ваше Имя')
                                input(type='text' placeholder='Ваша Фамилия')
                                input(type='text' placeholder='Ваше Отчество')
                                textarea(placeholder='Текст сообщения')
                                input()
                                button.main-btn.green Отправить



block js
    script.
