extends base.pug

| {% load staticfiles %}

block content

    section.news-page.single
        .uk-container
            .uk-grid
                .uk-width-2-3.single-news-item.left
                    .single-news-content
                        h1 Встреча команд Алай и Живое
                        img(src='static/jpg/news-item.jpg')
                        span.date 27.02.2019
                        p Несмотря на то, что мы первые пропустили, команда не пала духом и первой ответной атакой заработала пенальти, который реализовал Карипов Манас. Команда создала еще много моментов, но немного не хватало точности. Но, вскоре, защита алгинцев, не справляясь с атакующими действиями Абдыш - Аты, вынуждена была во второй раз нарушить правила у себя в штрафной зоне. К точке снова подошел Карипов и безупречно исполнил удар точно в угол ворот. Ближе к концу матча судья углядел игру рукой в нашей штрафной, но капитан Абдыш-Aты героически отразил удар и этим придал эмоциональной уверенности команде и призвал всех идти вперед, атаковать и ставить точку в этой встрече. Призыв капитана не заставил себя долго ждать и вскоре, вышедший на замену Темирбаев Эльхан, забил третий гол и установил окончательный счет в этом матче - 1:3. #АбдышАтаСила #ТолькоКантТолькоПобеда #сезон2017
                        p Несмотря на то, что мы первые пропустили, команда не пала духом и первой ответной атакой заработала пенальти, который реализовал Карипов Манас. Команда создала еще много моментов, но немного не хватало точности. Но, вскоре, защита алгинцев, не справляясь с атакующими действиями Абдыш - Аты, вынуждена была во второй раз нарушить правила у себя в штрафной зоне. К точке снова подошел Карипов и безупречно исполнил удар точно в угол ворот. Ближе к концу матча судья углядел игру рукой в нашей штрафной, но капитан Абдыш-Aты героически отразил удар и этим придал эмоциональной уверенности команде и призвал всех идти вперед, атаковать и ставить точку в этой встрече. Призыв капитана не заставил себя долго ждать и вскоре, вышедший на замену Темирбаев Эльхан, забил третий гол и установил окончательный счет в этом матче - 1:3. #АбдышАтаСила #ТолькоКантТолькоПобеда #сезон2017
                        a.link(href='') Вернуться к списку новостей
                .uk-width-1-3.single-news-item.right
                    .single-news-sidebar
                        a.link(href='#') Другие новости
                        include components/news/newsItem.pug
                        include components/news/newsItem.pug
                        include components/news/newsItem.pug
block js
    script.
