extends base.pug

| {% load staticfiles %}

block content

    section.news-page
        .uk-container
            h1 Новости
            .news-container
                .news-row.uk-grid.news-grid
                    .uk-width-1-4.news-item-wrapper
                        include components/news/newsItem.pug
                    .uk-width-1-4.news-item-wrapper
                        include components/news/newsItem.pug
                    .uk-width-1-4.news-item-wrapper
                        include components/news/newsItem.pug
                    .uk-width-1-4.news-item-wrapper
                        include components/news/newsItem.pug
                .news-row.uk-grid.news-grid
                    .uk-width-1-3.news-item-wrapper
                        include components/news/newsItem.pug
                    .uk-width-1-3.news-item-wrapper
                        include components/news/newsItem.pug
                    .uk-width-1-3.news-item-wrapper
                        include components/news/newsItem.pug
                .news-row.uk-grid.news-grid
                    .uk-width-1-4.news-item-wrapper
                        include components/news/newsItem.pug
                    .uk-width-1-4.news-item-wrapper
                        include components/news/newsItem.pug
                    .uk-width-1-4.news-item-wrapper
                        include components/news/newsItem.pug
                    .uk-width-1-4.news-item-wrapper
                        include components/news/newsItem.pug

            a.main-btn.green(href='#') Загрузить еще


block js
    script.
