extends base.pug

| {% load staticfiles %}

block content

    section.products
        .uk-container
            h1 Наша продукция
            h2 Пиво
            ul.product-list
                include ./components/production/product.pug
                include ./components/production/product.pug
                include ./components/production/product.pug
                include ./components/production/product.pug
                include ./components/production/product.pug
                include ./components/production/product.pug
                include ./components/production/product.pug
                include ./components/production/product.pug
                include ./components/production/product.pug
                include ./components/production/product.pug

    section.products.products-white
        .uk-container
            h2 Напитки
            ul.product-list
                include ./components/production/product.pug
                include ./components/production/product.pug
                include ./components/production/product.pug
                include ./components/production/product.pug
                include ./components/production/product.pug
                include ./components/production/product.pug
            h2 Энергетик
            ul.product-list
                include ./components/production/product.pug

    include components/modal/modal1

block js
    script.
