extends base.pug

| {% load staticfiles %}

block content

    section.production-page
        .uk-container
            h2.line-title.dark
                span Производство
            .uk-grid
                .uk-width-1-3
                    include components/production/productionItem.pug
                .uk-width-1-3
                    include components/production/productionItem.pug
                .uk-width-1-3
                    include components/production/productionItem.pug
block js
    script.
