.production-item
    .img-wrapper
        img(src='static/svg/production-item.svg')
        h3 пивоварня
    .content
        h4 пивоварня
        p На нашей пивоварне установлено современное оборудование импортного производства. Также в компании имеется миниварка, что позволяет варить экспериментальный и крафтовый пенный напиток.
            | Процесс варки происходит традиционным методом по старинным рецептам. Мы варим пиво в соответствии с «Законом о чистоте», принятым в Баварии в 1516 году. Этот закон обязывает пивовара предъявлять высокие требования в выборе ингредиентов, что служит надежным инструментом защиты потребителя. Согласно «Закону о чистоте», в производстве пива могут использоваться лишь следующие ингредиенты: солод, хмель и специальная «пивная» вода.
            | Именно так мы и производим. Идеальное сочетание лучших сортов солода и хмеля, а также кристально чистая вода из артезианской скважины глубиной 120 метров (специально доочищенная и умягченная до стандарта «пивной» воды) и, конечно же, мастерство наших пивоваров позволяет нам создать неповторимый вкус пива.