| {% load staticfiles %}

footer(style='background: url(./static/svg/footer.svg) repeat;')
    .uk-container
        h2 Контакты
        .uk-grid
            .uk-width-1-3
                p
                    span(style='background: url(./static/svg/footer-icon-1.svg) no-repeat;')
                    | ОсОО "Абдыш-Ата" Кыргызстан,
                    br
                    | город Кант, ул.Московская, 7
            .uk-width-1-3
                p
                    span(style='background: url(./static/svg/footer-icon-2.svg) no-repeat;')
                    | Телефоны:
                    br
                    | 0 3132 5-56-19, 0 3132 5-56-06,
            .uk-width-1-3
                p
                    span(style='background: url(./static/svg/footer-icon-3.svg) left center no-repeat;')
                    | E-mail:
                    br
                    | sadykahunov.e@abdyshata.kg

