| {% load staticfiles %}

header.uk-fixed-navigation
	.uk-container
		nav.uk-navbar
			a.uk-navbar-brand.uk-hidden-small(href='/')
				img(src='static/logo.svg' alt='')
			ul.uk-navbar-nav.uk-hidden-small.main-nav
				li.uk-active(class="uk-visible@m")
					a(href='/') О компании
				li(class="uk-visible@m")
					a(href='/') Новости
				li(class="uk-visible@m")
					a(href='/') Наша продукция
				li(class="uk-visible@m")
					a(href='/') Производство
				li
					a(href='/')
						img(src='static/dropdown.svg')
					ul.dropdown.uk-parent.uk-nav.uk-nav-navbar.primary-nav(data-uk-dropdown='', aria-haspopup='true', aria-expanded='false')
						li(class="uk-hidden@m")
							a(href='/') О компании
						li(class="uk-hidden@m")
							a(href='/') Новости
						li(class="uk-hidden@m")
							a(href='/') Наша продукция
						li(class="uk-hidden@m")
							a(href='/') Производство
						li.toggle-link(aria-expanded='false')
							a(href='') Отзывы
						li.toggle-link(aria-expanded='false')
							a(href='') Контакты
						li.toggle-link(aria-expanded='false')
							a(href='') Футбольный клуб
						li.toggle-link(aria-expanded='false')
							a(href='') Экскурсия на завод
						li.toggle-link(aria-expanded='false')
							a(href='') Фирменные магазины
						li.toggle-link(aria-expanded='false')
							a(href='') Заявка по сотрудничеству


					//#settings-dropdown-container.uk-dropdown.uk-dropdown-navbar.uk-dropdown-bottom(aria-hidden='true', tabindex='', style='top: 40px; left: 0px;')
					//	ul#settings-dropdown.uk-nav.uk-nav-navbar
					//		li.toggle-link(aria-expanded='false')
					//			a(href='') Upgrade
					//		li.toggle-link(aria-expanded='false')
					//			a(href='') Configure
					//		li.toggle-link(aria-expanded='false')
					//			a(href='') Settings

			//a.uk-navbar-toggle.uk-visible-small(href='#offcanvas', data-uk-offcanvas='')
			//.uk-navbar-brand.uk-navbar-center.uk-visible-small Brand
